@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    background-color: black;
}

.quote {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  color: azure;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}